#backgroud {
    position:fixed;
    background-color: #164979;
    width:100%;
    height:100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#6699FF', GradientType=0);
    /* IE6-9 */
    background: -ms-linear-gradient(top, #0E2A55 40%, #0E2A55 40%, #1D6196 60%);
    /* IE10+ */
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#6699FF));
    /* Chrome, Safari 4+ */
    background: -webkit-linear-gradient(center top, #000000, #6699FF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background: -moz-linear-gradient(center top, #000000, #6699FF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    /* Firefox 3.6-15 */
    background: -o-linear-gradient(center top, #000000, #6699FF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    /* Opera 11.10-12.00 */
    background: linear-gradient(center top, #000000, #6699FF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    margin:0;
    padding:0;
    top: 0;
    z-index: -100;
}

body {
    color: white;
    background-color: rgba(0,0,0,0);
}

div.unit {
  display: inline-block;
  width: 350px;
  height: 200px;
  margin: 10px;
  position: relative;
  top: 300px;
  
}

div.unit:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.box {
    text-align: center;
}

h1,p {
    margin: 5px;
}